In [1]:
# Import Dependecies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time
import re
import math
from sqlalchemy import create_engine
from config import USERNAME, PASSWORD

# Extraction

Data source:https://www.nike.com/

### Men's Shoes

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\JINK\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [3]:
# URL of the home page of the access
url = 'https://www.nike.com/w/mens-shoes-nik1zy7ok'
browser.visit(url)

# Resize the window size
browser.driver.set_window_size(1320,1000)

# Apply a 5-seconde delay to allow the page to load
time.sleep(5)

In [4]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Number of items loaded to the page to be scraped every time we scroll to the bottom of the page
items_displayed=24

# Set a variable to scroll to the bottom of the page to be scraped
scroll = "window.scrollTo(0, document.body.scrollHeight);"
# browser.execute_script(scrollJS)

item_count=soup.find("span",class_="wall-header__item_count").text

# Parse through the item_count and extract the digit part
available_items=re.sub('[()]', '', item_count)

# Convert the available_items to integer
total_items=pd.to_numeric(available_items)
print(f"The total number of items available is: {total_items}")

# Determine the total number of times to scroll down
scroll_num=math.ceil((total_items/items_displayed)-1)
print(f"The total number of time to scroll down needed is: {scroll_num}")

The total number of items available is: 666
The total number of time to scroll down needed is: 27

In [6]:
# Create empty lists to holds the data to be scraped
items=[]
genders=[]
prices=[]
links=[]

# Perform the scrolls down with a 5-seconde time delay between each one to allow the page to load
for i in range(scroll_num):
    browser.execute_script(scroll)   
    time.sleep(5)

# Reset the Beautiful Soup object with the fully loaded page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')    

# Save the results in a variable
results=soup.find_all("div", class_="product-card__body")

# Loop through the results
for result in results:
    
    # Pull the item name
    item=result.find("div",class_="product-card__title")
    # Pull the item price
    price=result.find("div",class_="product-card__price")
    # Pull the item link
    link=result.a["href"]

# Append the items, categories and colors lists
    items.append(item.text)
    genders.append("Men")
    links.append(link)
    
    # Exception handling for items listed without prices
    try:
        prices.append(price.text)
    except AttributeError:
        prices.append("N/A")

In [7]:
# Close the browser
browser.quit()

### Women's Shoes

In [8]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\JINK\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [9]:
# URL of the home page of the access
url = 'https://www.nike.com/w/womens-shoes-5e1x6zy7ok'
browser.visit(url)

# Resize the window size
browser.driver.set_window_size(1320,1000)

# Apply a 5-seconde delay to allow the page to load
time.sleep(5)

In [10]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
# Number of items loaded to the page to be scraped every time we scroll to the bottom of the page
items_displayed=24

# Set a variable to scroll to the bottom of the page to be scraped
scroll = "window.scrollTo(0, document.body.scrollHeight);"
# browser.execute_script(scrollJS)

item_count=soup.find("span",class_="wall-header__item_count").text

# Parse through the item_count and extract the digit part
available_items=re.sub('[()]', '', item_count)

# Convert the available_items to integer
total_items=pd.to_numeric(available_items)
print(f"The total number of items available is: {total_items}")

# Determine the total number of times to scroll down
scroll_num=math.ceil((total_items/items_displayed)-1)
print(f"The total number of time to scroll down needed is: {scroll_num}")

The total number of items available is: 531
The total number of time to scroll down needed is: 22

In [12]:
# Perform the scrolls down with a 5-seconde time delay between each one to allow the page to load
for i in range(scroll_num):
    browser.execute_script(scroll)   
    time.sleep(5)

# Reset the Beautiful Soup object with the fully loaded page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')    

# Save the results in a variable
results=soup.find_all("div", class_="product-card__body")

# Loop through the results
for result in results:
    
    # Pull the item name
    item=result.find("div",class_="product-card__title")
    # Pull the item price
    price=result.find("div",class_="product-card__price")
    # Pull the item link
    link=result.a["href"]

# Append the items, categories and colors lists
    items.append(item.text)
    genders.append("Women")
    links.append(link)
    
    # Exception handling for items listed without prices
    try:
        prices.append(price.text)
    except AttributeError:
        prices.append("N/A")

In [13]:
# Close the browser
browser.quit()

### Boys' Shoes

In [14]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\JINK\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [15]:
# URL of the home page of the access
url = 'https://www.nike.com/w/boys-shoes-1onrazy7ok'
browser.visit(url)

# Resize the window size
browser.driver.set_window_size(1320,1000)

# Apply a 5-seconde delay to allow the page to load
time.sleep(5)

In [16]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [17]:
# Number of items loaded to the page to be scraped every time we scroll to the bottom of the page
items_displayed=24

# Set a variable to scroll to the bottom of the page to be scraped
scroll = "window.scrollTo(0, document.body.scrollHeight);"
# browser.execute_script(scrollJS)

item_count=soup.find("span",class_="wall-header__item_count").text

# Parse through the item_count and extract the digit part
available_items=re.sub('[()]', '', item_count)

# Convert the available_items to integer
total_items=pd.to_numeric(available_items)
print(f"The total number of items available is: {total_items}")

# Determine the total number of times to scroll down
scroll_num=math.ceil((total_items/items_displayed)-1)
print(f"The total number of time to scroll down needed is: {scroll_num}")

The total number of items available is: 488
The total number of time to scroll down needed is: 20

In [18]:
# Perform the scrolls down with a 5-seconde time delay between each one to allow the page to load
for i in range(scroll_num):
    browser.execute_script(scroll)   
    time.sleep(5)

# Reset the Beautiful Soup object with the fully loaded page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')    

# Save the results in a variable
results=soup.find_all("div", class_="product-card__body")

# Loop through the results
for result in results:
    
    # Pull the item name
    item=result.find("div",class_="product-card__title")
    # Pull the item price
    price=result.find("div",class_="product-card__price")
    # Pull the item link
    link=result.a["href"]

# Append the items, categories and colors lists
    items.append(item.text)
    genders.append("Boys")
    links.append(link)
    
    # Exception handling for items listed without prices
    try:
        prices.append(price.text)
    except AttributeError:
        prices.append("N/A")

In [19]:
# Close the browser
browser.quit()

### Girls' Shoes

In [20]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\JINK\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [21]:
# URL of the home page of the access
url = 'https://www.nike.com/w/girls-shoes-3aqegzy7ok'
browser.visit(url)

# Resize the window size
browser.driver.set_window_size(1320,1000)

# Apply a 5-seconde delay to allow the page to load
time.sleep(5)

In [22]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [23]:
# Number of items loaded to the page to be scraped every time we scroll to the bottom of the page
items_displayed=24

# Set a variable to scroll to the bottom of the page to be scraped
scroll = "window.scrollTo(0, document.body.scrollHeight);"
# browser.execute_script(scrollJS)

item_count=soup.find("span",class_="wall-header__item_count").text

# Parse through the item_count and extract the digit part
available_items=re.sub('[()]', '', item_count)

# Convert the available_items to integer
total_items=pd.to_numeric(available_items)
print(f"The total number of items available is: {total_items}")

# Determine the total number of times to scroll down
scroll_num=math.ceil((total_items/items_displayed)-1)
print(f"The total number of time to scroll down needed is: {scroll_num}")

The total number of items available is: 468
The total number of time to scroll down needed is: 19

In [24]:
# Perform the scrolls down with a 5-seconde time delay between each one to allow the page to load
for i in range(scroll_num):
    browser.execute_script(scroll)   
    time.sleep(5)

# Reset the Beautiful Soup object with the fully loaded page
html = browser.html
soup = BeautifulSoup(html, 'html.parser')    

# Save the results in a variable
results=soup.find_all("div", class_="product-card__body")

# Loop through the results
for result in results:
    
    # Pull the item name
    item=result.find("div",class_="product-card__title")
    # Pull the item price
    price=result.find("div",class_="product-card__price")
    # Pull the item link
    link=result.a["href"]

# Append the items, categories and colors lists
    items.append(item.text)
    genders.append("Girls")
    links.append(link)
    
    # Exception handling for items listed without prices
    try:
        prices.append(price.text)
    except AttributeError:
        prices.append("N/A")

In [25]:
# Close the browser
browser.quit()

# Transformation

In [26]:
# Turn the data scraped into a DataFrame
initial_df=pd.DataFrame({"Item":items,"Gender":genders,"Price":prices,"URL":links})

# Print the 5 first rows of the DataFrame
initial_df.head()

,Item,Gender,Price,URL
0,Nike Blazer Mid '77 Vintage,Men,$100,https://www.nike.com/t/blazer-mid-77-vintage-m...
1,Nike Air Max 90,Men,$120,https://www.nike.com/t/air-max-90-mens-shoes-6...
2,Nike Air Max 97,Men,$170,https://www.nike.com/t/air-max-97-mens-shoe-SD...
3,Nike Air Vapormax 2021 FK,Men,$200,https://www.nike.com/t/air-vapormax-2021-fk-me...
4,Nike ZoomX Invincible Run Flyknit,Men,$180,https://www.nike.com/t/zoomx-invincible-run-fl...

In [27]:
# Inspect the columns data type
initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2153 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    2153 non-null   object
 1   Gender  2153 non-null   object
 2   Price   2153 non-null   object
 3   URL     2153 non-null   object
dtypes: object(4)
memory usage: 67.4+ KB

In [28]:
# Select all the rows except the ones without price
updated_df=initial_df.loc[initial_df["Price"]!="N/A"]

# Deactivate the warning for chained assignment
pd.options.mode.chained_assignment = None 

# Parse through the item_count and extract the digit part of the current price
updated_df["Price"]=[re.split(r"\$+", i)[1] for i in updated_df["Price"]]

# Convert the available_items to decimal
updated_df["Price"]=updated_df["Price"].astype(float)

In [29]:
# Inspect the columns data type of the updated_df
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2149 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    2149 non-null   object
 1   Gender  2149 non-null   object
 2   Price   2149 non-null   float64
 3   URL     2149 non-null   object
dtypes: float64(1), object(3)
memory usage: 83.9+ KB

In [30]:
updated_df.head()

,Item,Gender,Price,URL
0,Nike Blazer Mid '77 Vintage,Men,100.0,https://www.nike.com/t/blazer-mid-77-vintage-m...
1,Nike Air Max 90,Men,120.0,https://www.nike.com/t/air-max-90-mens-shoes-6...
2,Nike Air Max 97,Men,170.0,https://www.nike.com/t/air-max-97-mens-shoe-SD...
3,Nike Air Vapormax 2021 FK,Men,200.0,https://www.nike.com/t/air-vapormax-2021-fk-me...
4,Nike ZoomX Invincible Run Flyknit,Men,180.0,https://www.nike.com/t/zoomx-invincible-run-fl...

In [31]:
# Export the DataFrame in .csv file
updated_df.to_csv("Output/nike.csv")

In [32]:
# Import the ShopComAthletic.csv
path = "Output/ShopComAthletic.csv"
shopcom_df = pd.read_csv(path)
shopcom_df.head()

,Unnamed: 0,ProductID,Price,Name,Brand,Gender,Image,URL
0,0,1855904262,185.800,Cougar Women's Vienna-S In Black,Cougar,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/cougar-womens-vienna-s-in...
1,1,1860265708,119.095,Sam Edelman Women's Pippy Gold M,Sam Edelman,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/sam-edelman-womens-pippy-...
2,2,1820031831,128.390,Tretorn Women's Rawlins 10 in Black,Tretorn,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/tretorn-womens-rawlins-10...
3,3,1869256932,54.480,Steve Madden Womens Tracey Faux Leather Lace-u...,Steve Madden,Women,https://img.shop.com/Image/270000/273200/27320...,https://www.shop.com/steve-madden-womens-trace...
4,4,1881421772,78.820,Andrea Conti Women's Dani in White,NaN,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/andrea-conti-womens-dani-...

In [53]:
# Create a filtered dataframe from specific columns
shopcom_cols = ["Name", "Gender", "Price","URL"]
shopcom_transformed_df= shopcom_df[shopcom_cols].copy()
shopcom_transformed_df=shopcom_transformed_df.rename(columns={"Name": "Item"})

# Display the first 5 lines of the DataFrame
shopcom_transformed_df.head()

,Item,Gender,Price,URL
0,Cougar Women's Vienna-S In Black,Women,185.800,https://www.shop.com/cougar-womens-vienna-s-in...
1,Sam Edelman Women's Pippy Gold M,Women,119.095,https://www.shop.com/sam-edelman-womens-pippy-...
2,Tretorn Women's Rawlins 10 in Black,Women,128.390,https://www.shop.com/tretorn-womens-rawlins-10...
3,Steve Madden Womens Tracey Faux Leather Lace-u...,Women,54.480,https://www.shop.com/steve-madden-womens-trace...
4,Andrea Conti Women's Dani in White,Women,78.820,https://www.shop.com/andrea-conti-womens-dani-...

# Loading to a Database

In [54]:
# Create database connection
connection_string = f"{USERNAME}:{PASSWORD}@localhost:5432/FootwearFinder_db"
engine = create_engine(f'postgresql://{connection_string}')

In [55]:
# Confirm tables
engine.table_names()

<ipython-input-55-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['shopcom']

In [56]:
# Load updated_df to database
updated_df.to_sql(name='shopcom', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Item" of relation "shopcom" does not exist
LINE 1: INSERT INTO shopcom ("Item", "Gender", "Price", "URL") VALUE...
                             ^

[SQL: INSERT INTO shopcom ("Item", "Gender", "Price", "URL") VALUES (%(Item)s, %(Gender)s, %(Price)s, %(URL)s)]
[parameters: ({'Item': "Nike Blazer Mid '77 Vintage", 'Gender': 'Men', 'Price': 100.0, 'URL': 'https://www.nike.com/t/blazer-mid-77-vintage-mens-shoes-nw30B2/BQ6806-100'}, {'Item': 'Nike Air Max 90', 'Gender': 'Men', 'Price': 120.0, 'URL': 'https://www.nike.com/t/air-max-90-mens-shoes-6n3vKB/CN8490-100'}, {'Item': 'Nike Air Max 97', 'Gender': 'Men', 'Price': 170.0, 'URL': 'https://www.nike.com/t/air-max-97-mens-shoe-SD3ZmW/921826-001'}, {'Item': 'Nike Air Vapormax 2021 FK', 'Gender': 'Men', 'Price': 200.0, 'URL': 'https://www.nike.com/t/air-vapormax-2021-fk-mens-shoes-NpTfFz/DC9394-400'}, {'Item': 'Nike ZoomX Invincible Run Flyknit', 'Gender': 'Men', 'Price': 180.0, 'URL': 'https://www.nike.com/t/zoomx-invincible-run-flyknit-mens-road-running-shoes-sP2zk7/CT2228-103'}, {'Item': 'Nike React Infinity Run Flyknit 2', 'Gender': 'Men', 'Price': 160.0, 'URL': 'https://www.nike.com/t/react-infinity-run-flyknit-2-mens-road-running-shoes-DttDF2/CT2357-101'}, {'Item': 'Zoom Freak 3', 'Gender': 'Men', 'Price': 120.0, 'URL': 'https://www.nike.com/t/zoom-freak-3-basketball-shoes-QXBvM0/DA0694-101'}, {'Item': 'Kyrie 7', 'Gender': 'Men', 'Price': 130.0, 'URL': 'https://www.nike.com/t/kyrie-7-basketball-shoes-nNMZ3b/DC9122-001'}  ... displaying 10 of 2149 total bound parameter sets ...  {'Item': 'Nike Air Max 90 LTR', 'Gender': 'Girls', 'Price': 70.97, 'URL': 'https://www.nike.com/t/air-max-90-ltr-baby-toddler-shoes-fsG78M/DM7596-001'}, {'Item': 'Air Jordan 4 Retro', 'Gender': 'Girls', 'Price': 150.0, 'URL': 'https://www.nike.com/t/air-jordan-4-retro-big-kids-shoe-fmLBVS/DH0572-264'})]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [57]:
# Load shopcom_transformed_df to database
shopcom_transformed_df.to_sql(name="shopcom", con=engine, if_exists="append", index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Item" of relation "shopcom" does not exist
LINE 1: INSERT INTO shopcom ("Item", "Gender", "Price", "URL") VALUE...
                             ^

[SQL: INSERT INTO shopcom ("Item", "Gender", "Price", "URL") VALUES (%(Item)s, %(Gender)s, %(Price)s, %(URL)s)]
[parameters: ({'Item': "Cougar Women's Vienna-S In Black", 'Gender': 'Women', 'Price': 185.8, 'URL': 'https://www.shop.com/cougar-womens-vienna-s-in-black-1886108809-p.xhtml?publisherID=TEST'}, {'Item': "Sam Edelman Women's Pippy Gold M", 'Gender': 'Women', 'Price': 119.095, 'URL': 'https://www.shop.com/sam-edelman-womens-pippy-gold-m-1890470252-p.xhtml?publisherID=TEST'}, {'Item': "Tretorn Women's Rawlins 10 in Black", 'Gender': 'Women', 'Price': 128.39, 'URL': 'https://www.shop.com/tretorn-womens-rawlins-10-in-black-1850236383-p.xhtml?publisherID=TEST'}, {'Item': 'Steve Madden Womens Tracey Faux Leather Lace-up High Top Sneakers', 'Gender': 'Women', 'Price': 54.48, 'URL': 'https://www.shop.com/steve-madden-womens-tracey-faux-leather-lace-up-high-top-sneakers-1899461476-p.xhtml?publisherID=TEST'}, {'Item': "Andrea Conti Women's Dani in White", 'Gender': 'Women', 'Price': 78.82, 'URL': 'https://www.shop.com/andrea-conti-womens-dani-in-white-1911626314-p.xhtml?publisherID=TEST'}, {'Item': 'Adidas Womens Triple Cheer Gym Fitness Athletic and Training Shoes', 'Gender': 'Women', 'Price': 45.5, 'URL': 'https://www.shop.com/adidas-womens-triple-cheer-gym-fitness-athletic-and-training-shoes-1914730691-p.xhtml?publisherID=TEST'}, {'Item': 'Geox Respira Womens D Leelu Leather Embellished Fashion Sneakers', 'Gender': 'Women', 'Price': 49.99, 'URL': 'https://www.shop.com/geox-respira-womens-d-leelu-leather-embellished-fashion-sneakers-1912524816-p.xhtml?publisherID=TEST'}, {'Item': 'Adidas Womens Trainers Sneakers Athletic Shoes', 'Gender': 'Women', 'Price': 54.99, 'URL': 'https://www.shop.com/adidas-womens-trainers-sneakers-athletic-shoes-1899881548-p.xhtml?publisherID=TEST'}  ... displaying 10 of 8201 total bound parameter sets ...  {'Item': "New Balance KL574AIP Grey/Purple/Teal  KL574AIP Kid's", 'Gender': 'Boys', 'Price': 35.0, 'URL': 'https://www.shop.com/new-balance-kl574aip-greypurpleteal-kl574aip-kids-1917234908-p.xhtml?publisherID=TEST'}, {'Item': "New Balance KL574C8G Black/White  KL574C8G Kid's", 'Gender': 'Boys', 'Price': 68.0, 'URL': 'https://www.shop.com/new-balance-kl574c8g-blackwhite-kl574c8g-kids-1917234927-p.xhtml?publisherID=TEST'})]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [58]:
pd.read_sql_query("select * from shopcom", con=engine)

Empty DataFrame
Columns: [id, item, gender, price, url]
Index: []