In [ ]:
# Import Dependecies
import pandas as pd
import sqlalchemy as sql
from sqlalchemy import create_engine
from config import USERNAME, PASSWORD

# Extract CSVs into DataFrames

In [2]:
SCAthletic_file = "./Output/ShopComAthletic.csv"
SCAthletic_df = pd.read_csv(SCAthletic_file)
SCAthletic_df.head()

,Unnamed: 0,ProductID,Price,Name,Brand,Gender,Image,URL
0,0,1855904262,185.800,Cougar Women's Vienna-S In Black,Cougar,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/cougar-womens-vienna-s-in...
1,1,1860265708,119.095,Sam Edelman Women's Pippy Gold M,Sam Edelman,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/sam-edelman-womens-pippy-...
2,2,1820031831,128.390,Tretorn Women's Rawlins 10 in Black,Tretorn,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/tretorn-womens-rawlins-10...
3,3,1869256932,54.480,Steve Madden Womens Tracey Faux Leather Lace-u...,Steve Madden,Women,https://img.shop.com/Image/270000/273200/27320...,https://www.shop.com/steve-madden-womens-trace...
4,4,1881421772,78.820,Andrea Conti Women's Dani in White,NaN,Women,https://img.shop.com/Image/260000/267800/26787...,https://www.shop.com/andrea-conti-womens-dani-...

In [3]:
Nike_file = "./Output/nike.csv"
Nike_df = pd.read_csv(Nike_file)
Nike_df

,Name,Price,Gender,URL
0,Nike Blazer Mid '77 Vintage,100.00,Men,https://www.nike.com/t/blazer-mid-77-vintage-m...
1,Nike Air Max 90,120.00,Men,https://www.nike.com/t/air-max-90-mens-shoes-6...
2,Nike Air Max 97,170.00,Men,https://www.nike.com/t/air-max-97-mens-shoe-SD...
3,Nike Air Vapormax 2021 FK,200.00,Men,https://www.nike.com/t/air-vapormax-2021-fk-me...
4,Nike ZoomX Invincible Run Flyknit,180.00,Men,https://www.nike.com/t/zoomx-invincible-run-fl...
...,...,...,...,...
2185,Nike Jr. Mercurial Vapor 14 Club MG,40.00,Girls,https://www.nike.com/t/jr-mercurial-vapor-14-c...
2186,Nike Court Borough Low 2 SE,56.97,Girls,https://www.nike.com/t/court-borough-low-2-se-...
2187,Jordan 1 Mid SE,55.00,Girls,https://www.nike.com/t/jordan-1-mid-se-baby-to...
2188,Nike Air Max 90 LTR,70.97,Girls,https://www.nike.com/t/air-max-90-ltr-baby-tod...
2189,Air Jordan 4 Retro,150.00,Girls,https://www.nike.com/t/air-jordan-4-retro-big-...

# Transform DataFrames

In [4]:
#Clean SCAthletic dataframe to match sql schema
SCAthletic_dfClean = SCAthletic_df[['Name', 'Price', 'Gender', 'URL']]
SCAthletic_dfClean

,Name,Price,Gender,URL
0,Cougar Women's Vienna-S In Black,185.800,Women,https://www.shop.com/cougar-womens-vienna-s-in...
1,Sam Edelman Women's Pippy Gold M,119.095,Women,https://www.shop.com/sam-edelman-womens-pippy-...
2,Tretorn Women's Rawlins 10 in Black,128.390,Women,https://www.shop.com/tretorn-womens-rawlins-10...
3,Steve Madden Womens Tracey Faux Leather Lace-u...,54.480,Women,https://www.shop.com/steve-madden-womens-trace...
4,Andrea Conti Women's Dani in White,78.820,Women,https://www.shop.com/andrea-conti-womens-dani-...
...,...,...,...,...
8168,Lacoste Straightset 119 White/Navy 7-37CUC002...,46.000,Boys,https://www.shop.com/lacoste-straightset-119-w...
8169,Gucci Kids Black Leather Studded Lace-up Sneak...,240.000,Boys,https://www.shop.com/gucci-kids-black-leather-...
8170,Avalanche Boys Navy Orange Hook And Loop Breat...,33.050,Boys,https://www.shop.com/avalanche-boys-navy-orang...
8171,Beverly Hills Boys Navy Tan Contrast Panel Log...,33.790,Boys,https://www.shop.com/beverly-hills-boys-navy-t...
8172,Beverly Hills Boys Navy Lace Up Perforated Hig...,48.590,Boys,https://www.shop.com/beverly-hills-boys-navy-l...

# Create database connection

In [5]:
# Connext to the database
connection_string = f"{USERNAME}:{PASSWORD}@localhost:5433/FootwearFinder_db"
engine = create_engine(f'postgresql://{connection_string}')

# Inspect the columns of the shoes table
sql.inspect(engine).get_columns('shoes')
result = engine.execute("SELECT * FROM shoes")
sql.inspect(engine).get_columns('shoes')

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': "nextval('shoes_id_seq'::regclass)",
  'autoincrement': True,
  'comment': None},
 {'name': 'Name',
  'type': VARCHAR(length=255),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Price',
  'type': DOUBLE_PRECISION(precision=53),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Gender',
  'type': VARCHAR(length=10),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'URL',
  'type': VARCHAR(length=255),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

# Load DataFrames into database

In [ ]:
# Load SCAthlectic_dfClean to the shoes table
SCAthletic_dfClean.to_sql(name='shoes', con=engine, if_exists='replace', index=False)

In [ ]:
# Load Nike_df to the shoes table
Nike_df.to_sql(name='shoes', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('select * from shopcom', con=engine)